@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply z-10 w-full h-[10.2rem];
    transition: height 0.6s, transform 0.6s;
    color: var(--white);
    background-color: var(--black);
  }

  .header .header-wrapper {
    @apply flex;
    max-width: 1200px;
  }

  .header .site-logo {
    width: 8rem;
    height: 8rem;
    transition: all 0.6s;
  }

  .header.elevated {
    box-shadow: var(--shadow1);
    position: fixed;
    top: 0;
    height: 6rem;
  }

  .header.elevated .site-logo {
    width: 4rem;
    height: 4rem;
  }

  footer {
    background-color: var(--ocean-blue);
    z-index: 10;
    color: var(--black) !important;
  }
  footer .footer-inner-wrapper {
    max-width: 120rem;
  }

  footer .footer-bottom {
    text-align: center;
  }
  footer .footer-bottom p {
    color: var(--black);
  }

  /* Navigation */
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    left: 2rem;
    bottom: 10rem;
    z-index: 10;
  }

  .navigation a {
    font-size: 2.5rem;
    color: var(--white);
  }

  .navigation a:hover {
    color: var(--blue-jaunts);
  }

  .navigation::before {
    content: "";
    opacity: 0;
    width: 4.5rem;
    height: 29rem;
    position: absolute;
    bottom: 3.5rem;
    left: 0;
    background-color: rgba(355, 355, 355, 0.9);
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    transition: opacity 0.4s;
  }

  .nav-item {
    opacity: 0;
    transform-origin: 0 0;
    transform: translate(0, 3rem);
    transition: opacity 0.35s, transform 0.5s;
  }

  @media (min-width: 768px) {
    .nav-item {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .navigation.expanded .nav-item {
    opacity: 1;
    transform: translate(0, 0);
  }

  .navigation.expanded .nav-item::before {
    opacity: 1;
  }

  .navigation__accent {
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation__accent > div {
    width: 0.2rem;
    height: 12rem;
    background-color: var(--ocean-blue);
  }

  /* FAB Button*/
  .fab {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 3rem;
    border: none;
    z-index: 12;
    opacity: 0.75;
    transform: translate(0, 4rem);
  }
  .fab:hover,
  .fab:focus {
    opacity: 1;
  }

  @media (min-width: 768px) {
    .fab {
      display: none;
    }
  }

  /**
  * Field Component
  **/
  .field {
    position: relative;
    padding: 1rem 0;
    margin: 1rem 0;
    width: 100%;

    /* Solves issues with list/dropdowns */
    z-index: 2;
  }
  .field .field-contents {
    padding: 0 1rem;
    border-radius: 1.4rem;
    position: relative;
    padding: 0.5rem 1rem;
  }

  .field label {
    position: absolute;
    margin: 0;
    top: 1.2rem;
    left: 1.6rem;
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    pointer-events: none;
    transform-origin: left top;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  .field.float-label.filled label,
  .field.focused.float-label label,
  .field.has-placeholder label {
    opacity: 1 !important;
    background: transparent;
  }

  .field.filled label {
    opacity: 0;
  }

  .field.focused label,
  .field.focused.filled label,
  .field.float-label.filled label {
    opacity: 0;
  }

  input,
  textarea {
    border: none;
    width: 100%;
    font-size: 1.2rem;
    font-family: inherit;
  }

  input:focus,
  textarea:focus {
    outline: 0;
  }

  input {
    height: 1.4375em;
  }

  textarea {
    resize: vertical;
    min-height: 4.4rem;
    max-height: 10rem;
  }

  /* prefix  */

  .field__prefix {
    position: relative;
  }

  .field__prefix img {
    position: absolute;
    left: 1rem;
    top: 0.3rem;
  }

  .field.has-prefix input {
    padding-left: 3rem;
  }

  /* Error  */
  .error {
    padding-top: 0.5rem;
    padding-left: 1.6rem;
  }

  .error--msg {
    transform-origin: 0 0;
    transform: rotateX(270deg);
    transition: transform 200ms ease;
    position: absolute;
  }

  .field.has-error .error--msg {
    transform: rotateX(360deg);
  }

  /* Theme */
  input,
  textarea,
  .field-contents {
    background-color: var(--hip-black);
    color: var(--white);
  }

  label {
    color: var(--white);
  }
  label.required {
    color: var(--red-mans);
  }

  .field.filled .field-contents,
  .field.focused .field-contents {
    outline-color: var(--ocean-blue);
  }

  .field.filled label,
  .field.focused label {
    color: var(--ocean-blue);
  }

  /* // Error Theme */
  .field.has-error label,
  .field.has-error input {
    color: var(--red-mans);
  }

  .field.has-error .field-contents {
    outline: 2px solid var(--red-mans);
  }

  .field.has-error input,
  .field.has-error textarea {
    caret-color: var(--red-mans);
  }

  .error--msg {
    color: var(--red-mans);
  }

  /* Outline Field Styles*/
  .field .field-contents {
    outline: 2px solid var(--white);
  }

  .field.float-label .field-contents {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .field.float-label.filled label,
  .field.focused.float-label label,
  .field.has-placeholder label {
    transform: translate(-0.5rem, -2rem) scale(0.75);
    background-color: var(--hip-black);
    padding: 0 0.75rem;
  }

  /* Cirlce  */
  .circle-display {
    border: 1px solid var(--blue);
    width: 125px;
    height: 125px;
    border-radius: 1000px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    padding: 15px;
    box-shadow: 4px 8px 10px 0.5px #22282f;
  }

  .circle-display.circle--primary {
    @apply bg-hip-black text-ocean-blue border-2 border-ocean-blue border-solid;
  }

  .circle-display.circle--primary .circle-display__description,
  .circle-display.circle--secondary .circle-display__description {
    @apply text-gray italic text-xs;
  }

  .circle-display.circle--secondary {
    @apply bg-ocean-blue text-hip-black border-2;
  }
}

:root {
  --black: #303841;
  --white: #ffffff;
  --gray: #777777;

  --blue-jaunts: #467dcd;
  --light-purple-fax: #f1f1ff;
  --hip-black: #303842;
  --geeking-orange: #f9674e;

  --red-mans: #e23d3d;
  --yee-purple: #52489c;
  --ardy-green: #1b998b;
  --wilding-yellow: #eec643;
  --ocean-blue: #81d3ca;

  --shadow-black: #22282f;
}

body {
  color: var(--white);
  background-color: var(--black);
}

p,
a {
  color: var(--white);
}

.sm-tab {
  font-size: 1.6rem;
  font-weight: 600;
}

/* icons */
@font-face {
  font-family: "sam-font";
  src: url("/fonts/sam-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "sam-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sam-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\64";
}

.icon-contact:before {
  content: "\65";
}

.icon-home:before {
  content: "\61";
}

.icon-projects:before {
  content: "\62";
}

.icon-skills:before {
  content: "\63";
}

.icon-linkedin:before {
  content: "\6c";
}

.icon-instagram:before {
  content: "\69";
}

.icon-gitlab:before {
  content: "\67";
}

.icon-img {
  max-width: 30px;
}

.grecaptcha-badge {
  visibility: hidden;
}

.grecaptcha-terms {
  margin: 0 0 10px;
}
.grecaptcha-terms p,
.grecaptcha-terms a {
  font-size: 10px;
}
